.active {
  font-weight: bold;
}

#graph svg {
  background-color: white;
  border: 1px solid #888;
  float: left;
}

#graph {
  margin: auto auto;
}

#chart_summary_div {
  width: 26%;
  float: left;
  margin-right: 20px;
}

#color_key {
  font-size: smaller;
  padding: 12px;
  margin-left: 20px;
  background-color: white;
  border: 1px solid #888;  
  float: left;
}

.model .color_sample {
  float: left;
  width: 20px;
  max-width: 20px;
  padding-right: 8px;
  margin-bottom: 4px;
}

.model {
  clear: both;
}

.model span {
  padding-left: 4px;
}

#tip {
  left: 0px;
  top: 459px;
  position: relative;
  background-color: #ffffd0;
  border: 1px solid #999;
  padding: 5px;     
}

.cell_numeric {
  text-align: right;
  font-family: Andale Mono, monospace;
}

.larger {
  font-size: larger;
}

.overview_summary, .model_summary {
  border: 1px solid #888;
  background-color: #f7f7f7;
  border-radius: 6px;
  margin: 5px;
  padding: 8px;
  float: left;
}

.overview_summary {
  width: 65%;
  margin-top: 22px;
  margin-left: 60px;
}

.model_summary {
  width: 31%;
}

.overview_summary h3, .model_summary h3 {
  margin-top: 0;
}

.overview_summary br, .model_summary br {
  clear: both;
}

.value {
  float: left;
  width: 13%;
  padding-right: 10px;
}

.sub_value {
  float: right;
  width: 13%;
  font-size: smaller;
  color: #666;
}

.overview_summary label, .model_summary label {
  width: 68%;
  float: left;
}

.today_value {
  font-size: large;
  color: #599;
}

